.login-sec-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 101.1%;
    /* or 26px */
    color: #1A3B58;

    &-grey{
        font-family: 'Poppins';
            font-style: normal;
        font-weight: 400;
        line-height: 101.1%;
        font-size: 26px;
        color: rgba(26, 59, 88, 0.33);

        &:hover{
            text-decoration: underline;
            color: #1A3B58;
        }
    }
}

.round-grey-border{
    border: 2px solid rgba(26, 59, 88, 0.24);
        border-radius: 65px;
}