@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,300;1,500;1,600;1,700;1,900&display=swap');
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";


@import './components/_input.scss';
@import './components/button.scss';
@import './components/checkbox.scss';
@import './components/typography.scss';
@import './components/taskcard.scss';

@import './pages/login.scss';
@import './pages/dashboard.scss';
@import './pages/projects.scss';

$theme-colors: (
    primary: #4A8E8E,
);

hr{
    border: 2px solid rgba(64, 145, 223, 0.12);
}


body{
    font-family: 'Poppins', sans-serif !important;
}